<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:dubbo="http://www.springframework.org/schema/c"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        ">

    <!-- 开启注解扫描，扫描controller包 -->
    <context:component-scan base-package="com.agu.controller"></context:component-scan>

    <!-- mvc注解驱动 -->
    <mvc:annotation-driven></mvc:annotation-driven>

    <!-- 配置springMVC视图解析器 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!--有时我们需要将数据响应到某个页面，例如响应到/jsp/users.jsp,controller只需要返回"users"-->
        <!--url路径的前缀-->
        <property name="prefix" value="/WEB-INF/jsp/"></property>
        <!--url路径的后缀-->
        <property name="suffix" value=".jsp"></property>
    </bean>

    <!-- 处理静态资源拦截问题，如果是静态资源的请求，则默认服务器的servlet处理，
     如果不是，则交给DispatcherServlet处理-->
    <mvc:default-servlet-handler/>

    <mvc:resources location="/WEB-INF/resources/" mapping="/resources/**"/>
    <!--    <import resource="spring-kafka.xml"/>-->

    <!-- 使用zookeeper注册中心暴露服务地址 -->
<!--    <dubbo:application name="test-provider"/>-->
<!--    <dubbo:registry protocol="zookeeper" address="zookeeper://127.0.0.1:2181"/>-->

    <!-- 引入kafka配置文件，根据个人文件位置-->
    <import resource="kafka-producer.xml"/>
    <import resource="kafka-consumer.xml"/>

    <!--WebSocket-->
    <import resource="spring-websocket.xml"/>

</beans>



























